<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome do Produto </th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VendasASPNET.Models.Produto p in Model)
        {
            <tr>
                <td>@p.ID</td>
                <td>@Html.ActionLink(p.Nome,"Visualiza", new  { id = p.ID })</td>
                <td>@p.Preco</td>
            </tr>
        }
    </tbody>
</table>