<h1>Faça o Login</h1>

<form method="post" action="@Url.Action("Login","Login")">

    <label>Username:<input type="text" name="usuario.Nome" /></label> <br />
    <label>Password:<input type="password" name="usuario.Senha" /></label> <br/>
    <input type="submit" />

</form>