<form action="/Categoria/Adiciona">
    @Html.AntiForgeryToken()
    <label>Nome: <input type="text" name="categoria.Nome" /></label> <br />
    @Html.ValidationMessage("categoria.Nome") 
    <label>Descrição:<input type="text" name="categoria.Descricao" /> </label>
    @Html.ValidationMessage("categoria.Descricao")
    <input type="submit" value="Cadastrar" />
</form>